.demo-logo-vertical {
    height: 40px;
    margin: 10px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        font-size: 1.1rem;
        font-weight: bolder;
    }
}
